.main-strapi {
  background-color: #6366f1;
  color: white;
}
.hero-container {
  height: calc(100vh - 5rem);
  display: grid;
  place-items: center;
  color: white;
}
.hero-center {
  width: 90vw;
}
.hero-center h1 {
  font-size: 4rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.hero-center p::first-letter {
  text-transform: capitalize;
}
.strapi-nav {
  height: 5rem;
  display: flex;
  align-items: center;
}
.nav-center {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-header h1 {
  font-size: 2rem;
  text-transform: capitalize;
  cursor: default;
}
.nav-header .strapi-btn {
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  border-radius: 0.25rem;
  border-color: transparent;
  color: #4338ca;
  background: white;
  transition: all 0.3s ease-in-out;
}
.nav-header .strapi-btn:hover {
  transform: scale(1.05);
}

.nav-list {
  list-style-type: none;
  display: none;
}
.nav-list-btn {
  background: none;
  border: none;
  color: white;
}

@media screen and (min-width: 992px) {
  .strapi-btn {
    display: none;
  }
  .nav-center {
    display: grid;
    grid-template-columns: auto 1fr;
  }
  .nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    /* align-self: stretch; */
    gap: 2rem;
  }
  .nav-list .nav-list-btn {
    font-size: 1.5rem;
    text-transform: capitalize;
    cursor: pointer;
    font-weight: 500;
  }
  .hero-center h1 {
    font-size: 5rem;
    max-width: 1170px;
    text-align: center;
    margin: 0 auto 1rem;
  }
  .hero-center p {
    max-width: 560px;
    margin: auto;
    text-align: center;
  }
}
